# Virtual Environment
env/
venv/
.venv/
py312

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Large model files (download separately or use Git LFS)
*.pth
*.pt
*.onnx
*.safetensors
*.ckpt
*.bin
*.h5
*.pb


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db